# Подключение к базе данных
DB_TYPE=postgresql
DB_API=asyncpg
DB_USER=Solo
DB_PASSWORD=Mid
DB_HOST=db
DB_PORT=5432
DB_NAME=auth_db

# UUID тестовых пользователей для проверки авторизации и аутентификации
AUTHOR_USER_UUID=fc32b64f-2599-4dd3-ac28-3a1b3fad4e30
AUTHOR_EMAIL=author@yandex.ru
AUTHOR_PASSWORD=password
ADMIN_USER_UUID=c50eb804-131d-4cde-a504-cea137c00dc6
ADMIN_EMAIL=admin@yandex.ru
ADMIN_PASSWORD=password
MODERATOR_USER_UUID=4a2b3ad3-e3ca-4f71-89cf-f8907849647b
MODERATOR_EMAIL=moderator@yandex.ru
MODERATOR_PASSWORD=password
NOT_AUTHOR_USER_UUID=71f7d8e9-b526-403b-a006-402b02b9d109


# Настройка аутентификации и авторизации
# JWT_SECRET_KEY секретный ключ для кодирования и декодирования JWT токенов
JWT_SECRET_KEY=abracadabrajimjamjelly
JWT_ALGORITHM=HS256
AUTH_LOGIN_FIELD=email
JWT_ACCESS_TOKEN_LIFESPAN=30


# Настройки приложения
APP_TITLE=Auth System
APP_DESCRIPTION="Custom Authentication and Authorization System"
APP_VERSION=1.0.0